:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1/1;
  font-size: min(7.5cqw, 7.5cqh);
  user-select: none;

}

:host::after {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  content: "";
}

:host(:not([column="8"]))::after {
  width: 1px;
  right: -1px;
  background-color: black;
}

:host(:is([column="2"], [column="5"]))::after {
  width: 3px;
  right: -2px;
  background-color: black;
}

:host(:not([row="0"]))::after {
  top: -3px;
}


:host::before {
  position: absolute;
  z-index: 1;
  right: -1px;
  left: -1px;
  content: "";
}

:host(:not([row="8"]))::before {
  height: 1px;
  bottom: -1px;
  background-color: black;
}

:host(:is([row="2"], [row="5"]))::before {
  height: 3px;
  bottom: -2px;
  background-color: black;
}


:host(:is([row="2"], [row="5"]):not([row="0"]))::before {
  left: -3px;
}

:host([given]) {
  font-weight: bold;
}

:host([active]) {
  background-color: rgb(95, 95, 95);
  color: rgb(255, 255, 255);
}

:host([invalid]) {
  background-color: rgb(180, 85, 85);
  color: rgb(255, 255, 255);
}


:host([invalid][active]) {
  background-color: rgb(160, 75, 75);
}


.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  container-type: size;
  box-sizing: border-box;
  padding: 2px;
}

.cell-candidates {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-sizing: border-box;
}

.cell-candidates[hidden] {
  display: none;
}

.cell-candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100cqw / 3);
  height: calc(100cqh / 3);
  font-size: 30cqh;
}

.cell-candidate[hidden] {
  visibility: hidden;
}