:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 6px 8px 6px 8px;
  width: 100vw;

  background-color: rgb(245, 245, 245);
  height: 48px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 32px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

button:active {
  background-color: rgba(0, 0, 0, 0.20);
}

svg {
  fill: rgb(90, 90, 90);
  width: 24px;
  height: 24px;
}