:host {
  position: relative;
  display: flex;

}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 32px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

button:is(:active, [open]) {
  background-color: rgba(0, 0, 0, 0.20);
}

svg {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
}

.sudoku-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 4px);
  right: 4px;
  z-index: 2;
  border-radius: 4px;

  background-color: rgb(240, 240, 240);
  width: 60vw;

  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.2);

  &[hidden] {
    display: none;
  }
}

::slotted(hr) {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}