:host {
  position: relative;
  display: flex;
}

sudoku-icon {
  --icon-color: rgb(255, 255, 255);
}

.sudoku-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 4px);
  right: 4px;
  z-index: 2;
  border-radius: 4px;

  background-color: rgb(240, 240, 240);
  width: 60vw;

  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.2);
}

::slotted(hr) {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
