:host {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(75, 75, 75);
  padding: 8px 16px;
  font-size: 20px;
  flex: 1;
  user-select: none;
}

:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

::slotted(sudoku-icon) {
  --icon-color: rgb(75, 75, 75);
  --icon-size: 18px;
}

:host(:is(:hover, :focus)) {
  background-color: rgba(0, 0, 0, 0.1);
}

:host(:active) {
  background-color: rgba(0, 0, 0, 0.15);
}