:host {
  --width: min(70vw, 480px);

  height: 100dvh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
}

.backdrop {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.drawer {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: var(--width);
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);

  transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  & .header {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 16px;

    & .title {
      font-weight: bold;
      font-size: 16px;
      color: rgb(105, 105, 105);
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  & .option {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(85, 85, 85);

    gap: 8px;

    & sudoku-icon {
      --icon-color: rgba(35, 35, 35, 0.7);
    }

    &:hover {
      color: rgb(55, 55, 55);

      & sudoku-icon {
        --icon-color: rgba(35, 35, 35, 0.8);
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}


@starting-style {
  .drawer {
    left: calc(-1 * var(--width));
    pointer-events: none;
  }
}