:host {
  display: flex;
}

sudoku-icon {
  --icon-color: rgb(255, 255, 255);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.sudoku-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  right: 8px;
  border-radius: 4px;

  background-color: rgb(240, 240, 240);
  width: 60vw;

  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.2);
}

::slotted(hr) {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}