$background-color-light: #ececee;
$background-color-medium: #bbbbbe;
$background-color-dark: #28282e;

$color-highlight: #f9f9fe;
$color-light: #89898e;
$color-medium: #49494e;
$color-dark: #28282e;
$color-shadow: #24242e;

$color-error: #df8585;
$color-blue: #a5a5df;