@mixin Clear-button() {
  position: relative;
  background: none;
  outline: none;
  border: none;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

@mixin Options-item($text-color, $background-color, $text-color-active, $background-color-active) {
  @include Clear-button();
  color: $text-color;
  background-color: $background-color;
  
  &:not([disabled]) {
    &:hover,&:active {
      background-color: $background-color-active;
      color: $text-color-active;
    }
  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }
}