body {
  overscroll-behavior: none;
  
  *::-webkit-scrollbar {
      width: 0;
  }
  *::-webkit-scrollbar-track {
    box-shadow: none;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
    outline: none;
  }
}