@import './colors';

$border-thin: solid 1px $color-light;
$border-thick: solid 2px $color-medium;

.SudokuCell-container {
  position: relative;
  display: inline-block;
  text-align: center;
  
  .SudokuCell-value {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color-dark;
  }

  border-right: $border-thin;
  
  &:first-child {
    border-left: $border-thick;
  }
  
  &:nth-child(3), &:nth-child(6), &:nth-child(9) {
    border-right: $border-thick;
  }
  
  border-bottom: $border-thin;
  &.row-1-cell {
    border-top: $border-thick;
  }
  &.row-3-cell, &.row-6-cell, &.row-9-cell {
    border-bottom: $border-thick;
  }

  &.even-block-cell {
    background-color: $background-color-light;
  }
  
  &.given-cell {
    font-weight: bold;
  }

  &.invalid-cell {
    background-color: $color-error;

    .SudokuCell-value {
      color: $color-highlight;
    }
  }

  &.active-cell {
    background-color: $color-blue;
  }
}